@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  width: 25%;
}

td {
  text-align: center;
}

th {
  font-size: 30px;
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}
